@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif'; 
}

p, blockquote {
    font-size: 1.25em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 80px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu{
    width: 25px;
    margin-top: 40%;
}

h1 {
    text-align: left;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    line-height: 41px;
    text-transform: none;
    margin: 0;
}

.hero-section section {
    height: 140px;
    background: url("../images/hero.png");
    opacity: 0.88;
    padding: 5em 1.3em;
}

.hero-section {
    position: relative;
    z-index: -3;
}

.subsection-container h2 {
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
}

.subsection-container p {
    text-align: left;
}

.peach-container {
    width: 100%;
    background-color: #ff9683;
    color: #FFF;
    padding: 1em 0;
}

.peach-container h3 p {
    text-align: center;
}

.peach-container h3 {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    margin: .5em;
}

.peach-container p {
    color: #242424;
    margin: .5em .5em 2em .5em;
}

.gray-container {
    background: #F6F6F6;
    padding: 2em 0 2em;
}

.gray-container ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #ff775f;
}

h4 {
    margin: 7% auto .5em;
    opacity: 0.8;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
}

.cta {
    background-color: #800080;
    width: calc(100% - 2em);
    display: block;
    color: #FFF;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 auto 10%;
    position: relative;
    z-index: 4;
}

.cta:hover {
    background-color: #550055;
}

.footer-container {
    width: 100%;
    background-color: #313131;
    color: #FFF;
    padding: 3em 0;
}

ul.footer-links {
    margin: 0 auto;  
}

ul.footer-links li {
    display: inline-block;
}

ul.footer-links li a {
    color: #9D9D9D;
    font-size: .8em;  
}

nav ul {
    position: fixed;
    width: 75%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    background-color: rgb(52,59,63);
}

nav ul li a:hover {
    background-color: rgb(65,73,78);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}


/* services page */
.hero-section-services {
    width: 100%;
    margin-bottom: 10%;
}

.hero-section-services section {
    background: #800080;
    opacity: 0.88;
    padding: 5% 0;
    position: relative;
    z-index: 2;
}

.hero-section-services section::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-5deg);
}

.hero-section-services h1 {
    margin: 0 10%;
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
    text-transform: none !important;
}

.gray-container-services h3 {
    font-size: 25px;
}

.gray-container-services p {
    text-align: left;
}

.gray-container-services {
    background: #F6F6F6;
    padding: 2em 0;
    margin-top: 8%;
}

.gray-container-services ul li:first-child {
    margin-bottom: 0;
}

.gray-container-services ul li:last-child p {
    margin-bottom: 0;
}

.gray-container-services ul li {
    padding: 2%;
}

/* blog page */
.blog-container {
    background-color: #ff917e;
    padding: 5%;
}

.article-container {
    box-shadow: 17px 14px 34px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 4%;
}

.article-container h1 {
    color: #4a054a;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    text-transform: none;
}

.article-container ul li {
    display: inline-flex;
    color: #7b7b7b;
    font-size: 14px;
    font-style: italic;
    line-height: 73px;
}

.article-container p {
    color: #000000;
    font-weight: 400;
    margin-top: 0;
}

.article-container ul li img:hover {
    box-shadow: 17px 14px 34px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

aside {
    box-shadow: 17px 14px 34px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-top: 5%;
}

aside h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    line-height: 64px;
    padding: 0 4%;
    margin: 0;
    background: #3d023d;
}

aside ul {
    background: #e9e9e9;
}

aside ul li {
    padding: .5em 4%;
}

aside ul li a {
    color: #565353;
    text-decoration: none;
}

aside ul li a:hover {
    cursor: pointer;
    border: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #565353;
}

/* consult page */
div.consult-container {
    background: #e7e7e7;
    margin: 0;
    padding: 10%;
}

.consult-container , input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.consult-container input[type=submit] {
    width: 100%;
    background-color: #4a054a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (min-width: 413px) {
    .hero-section section {
        background: #800080;
        opacity: 0.88;
    }
}

@media only screen and (min-width: 650px) {

    .logo {
        margin-left: .5%;
    }

    .hero-section section {
        width: 40%;
        height: 130px;
        border: 1px solid #707070;
        background: url("../images/hero.png");
        opacity: 0.88;
        margin-left: 3.5%;
        float: left;
    }

    .subsection-container {
        width: 50%;
        margin-left: 50%;
    }

    .gray-container {
        padding-top: 0;
    }

    .gray-container ul {
        display: flex;
    }

    /* services page */
    .hero-section-services h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 60px;
    }

    .gray-container-services ul {
        display: flex;
    }

    .gray-container-services ul li {
        flex: 1 1 100%;  
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* blog page */
    aside {
        width: 40%;
    }

    .top-aside {
        margin-right: 5%;
    }

    .aside-content {
        display: -webkit-flex; /* Safari */
        display: flex;
    }

    /* consult page */
    div.consult-container {
        padding: 10% 20%;
    }
}

@media only screen and (min-width: 704px) {
    .subsection-container {
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 796px) {
    
    .logo {
        margin-left: 4%;
    }

    .container {
        text-align: center;
        padding: .8em 3em;
    }

    .hero-section {
        padding: 0 5%;
    }

    .subsection-container{
        margin-left: 54%;
    }
}

@media only screen and (min-width: 1024px) {

    .logo {
        margin-left: 4.7%;
    }

    .cta {
        width: 50%;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    nav {
        margin-right: 5.5%;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0; 
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: #565353;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
        border-bottom: #ff775f;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    .scroll {
        width: 30px;
        margin: 0% auto 5% auto;
        animation: move 1s infinite alternate;
    }

    @keyframes move {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }
    }

    .hero-section {
        padding: 0;
        margin: 0 0 0 4.5%;
    }

    .hero-section section {
        width: 400px;
        height: 300px;
    }

    .hero-section section h1 {
        font-size: 3.4em;
        font-weight: 400;
        line-height: 1em;
        margin: 5%;
    }

    .subsection-container h2 {
        font-size: 3.5em;
        font-weight: 600;
        line-height: 1em;
        margin: 3% 15% 0 0;
        padding: 0;
    }

    .subsection-container p {
        width: 80%;
        font-size: 30px;
        font-weight: 400;
        line-height: 45px;
    }

    .subsection-container {
        width: 50%;
        margin-left: 50%;
    }

    .peach-container .container {
        padding: 5% 10%;
    }

    .peach-container h3 {
        font-size: 50px;
        font-weight: 600;
        line-height: 45px;
    }

    .peach-container p {
        font-size: 25px;
        font-weight: 400;
        line-height: 46px;
        margin-bottom: 20px;
    }

    .gray-container ul {
        margin-top: 7%;
    }

    /* blog page */

    .blog-container {
        padding: 3%;
    }

    .article-container {
        width: 65%;
        padding: 5%;
    }

    aside {
        width: 87%;
        margin: 0 0 0 auto;
    }

    .aside-content {
        display: block;
        width: 40%;
    }

    .bottom-aside {
        margin-top:5%;
    }

    .top-aside {
        margin-right: 0;
    }

    .blog-container {
        display: -webkit-flex; /* Safari */
        display: flex;
    }

    /* consult page */
    div.consult-container {
        padding: 5% 25%;
    }
}

@media only screen and (min-width: 1188px) {
    .hero-section section {
        width: 500px;
        height: 300px;
    }

    .hero-section section h1 {
        font-size: 4em;
        font-weight: 400;
        line-height: 1em;
        margin: 5%;
    }

    .subsection-container h2 {
        font-size: 3.8em;
        font-weight: 600;
        line-height: 1em;
        margin: 5% 15% 0 0;
        padding: 0;
    }

    .subsection-container p {
        width: 80%;
        font-size: 30px;
        font-weight: 400;
        line-height: 45px;
    }

}

